<html>
  <head>
    <script src="/static/js/d3.min.js"></script>
    <script src="/static/js/d3-request.min.js"></script>
    <script src="/static/js/pies.js"></script>
    <script src="/static/js/pichart.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/main.css">

    <title>USA Labor</title>
  </head>
  <body>

    <div id="t-wrap">
      <p style="line-height: 100%;">
	<span class="txt" id="subtitle" style="position:relative;top:0.125em;">from the CORGIS Dataset Project</span>
	<br>
	<span class="txt" id="title" style="position:relative;top:0.35em;">USA Labor Statistics</span>
	<br>
	<span class="txt" style="font-size:1em;position:relative;top:2em;">
	  Inner circle: Race<br>
	  Outer circle radius: Percent employed<br>
	  Direction: Black, White, Asian (clockwise)
	</span>
      </p>      
    </div>
    
    <div id="slider">
      <h5 id="yeardisplay">Drag me!</h5>
      <input id="timeslider" oninput="slyd(this.value)" type="range" min="1972" max="2015" step="1" value="1972">
    </div>
    <svg id="svg" xmlns="http://www.w3.org/2000/svg">
      <rect x="0%" y="0%" width="100%" height="100%" fill="#111011"></rect>
      <g id="outslices"></g>
      <g id="midslices"></g>
      <g id="inslices"></g>
    </svg>
<script>
function slyd(val) {
console.log((parseInt(val)-1972));
    document.getElementById("yeardisplay").innerHTML = val; 
getPiesForYear(parseInt(val)-1972);
}
</script>
  </body>
</html>
